* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw; /*view width --> zorgt ervoor dat alles de breedte en hoogte van het scherm krijgt>*/
  height: 100vh; /*<view height>*/
  overflow: scroll;
  background-color: #0089DE;
  background-size: cover;
  color: rgba(232,234,246 ,1);
}

.intro {
  width: 90vw;

  padding: 1rem;
  margin-top: 1rem;

  background: rgba(41,182,246 ,1);
  color: rgba(1,87,155 ,1);
}

div {
  padding: 100px 0px 0px 50px;
}

.imgfront {
  width: 200px;
}