/* Webfont */
@import url(https://fonts.googleapis.com/css?family=Nunito:400,500,700,900);

/* Navigation */
#main-navigation * {
        box-sizing:border-box;
}

#main-navigation {
        position:relative;
        display:inline;
        vertical-align: top;
        text-align: right;
        width:240px;
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: 900;
        z-index: 1;
}

#main-navigation > ul {
        list-style: none;
        margin:0;
        padding:80px 50px;
        float:right;
}

#main-navigation > ul li {
        position:relative;
        display:inline;
        background-color: #fff;
}

#main-navigation > ul > li > a {
        display:inline;
        padding:5px 15px;
        font-weight: 900;
        text-transform: lowercase;
        color:#58595b;
        text-decoration: none;
        border-bottom: 1px solid rgba(27, 155, 155, 0.36)
        border-right: 4px solid rgba(27, 155, 255, 0.36)
}

#main-navigation > ul > li:first-of-type > a {
        border-top:0px;
}

#main-navigation > ul > li > a:hover,
#main-navigation > ul > li:hover > a,
#main-navigation > ul > li > a:focus,
#main-navigation > ul > li:focus > a,
#main-navigation > ul > li.active > a
{       
        color: #939598;
        transition: all 360ms ease-in 0s;
}

#main-navigation > ul li.hasSubMenu > a::before {
        content: '+';
        color: #DCEAF5;
        position: absolute;
        top: 55%;
        right: 5px;
        margin-top: -30px;
}

/* Depth 2, ++ */
#main-navigation > ul > li ul {
        position: absolute;
        background: rgba(0, 137, 22, 0.9)
        list-style: none;
        text-align: left;
        margin: 0;
        padding: 10px 10px;
        left: -300%;
        top: 30px;
        width:150px;
        font-size: 20px;
        opacity: 0;
        transition: opacity 360ms ease-in 0s;
        background-color: #fff;
        
}

#main-navigation > ul > li ul > li > a {
        display:block;
        padding: 30px 0px 20px 0px;
        font-weight: 900;
        text-transform: lowercase;
        color:#939598;
        text-decoration:none;
        border-top: 1px solid #F5F5DC;
        z-index: 2;
        
}

#main-navigation > ul > li ul > li:first-of-type > a {
        border-top: none;
}

#main-navigation > ul li:hover > ul {
        left:0%;
        opacity: 1;
        color:#939598;
}

#main-navigation > ul > li ul > li > a:hover,
#main-navigation > ul > li ul > li:hover > a,
#main-navigation > ul > li ul > li > a:focus,
#main-navigation > ul > li ul > li:focus > a,
#main-navigation > ul > li ul > li.active > a,
{
        color: #939598;
}

/* Logo navigatie*/

.logo-nav {
        display:block; 
        padding: 45px 20px;
        position:absolute;
}