/* Webfont */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

/* Navigation */
#main-navigation * {
        box-sizing:border-box;
}

#main-navigation {
        position:relative;
        display:inline;
        vertical-align: top;
        text-align: right;
        width:240px;
        font-family: 'Avenir', sans-serif;
        font-size: 16px;
        z-index: 1;
}

#main-navigation > ul {
        list-style: none;
        margin:0;
        padding:80px 50px;
        float:right;
}

#main-navigation > ul li {
        position:relative;
        display:inline;
}

#main-navigation > ul > li > a {
        display:inline;
        padding:5px 15px;
        font-weight: 400;
        text-transform: lowercase;
        color:#FFF;
        text-decoration: none;
        border-bottom: 1px solid rgba(27, 155, 155, 0.36)
        border-right: 4px solid rgba(27, 155, 255, 0.36)
}

#main-navigation > ul > li:first-of-type > a {
        border-top:1px dashed #fff500;
}

#main-navigation > ul > li > a:hover,
#main-navigation > ul > li:hover > a,
#main-navigation > ul > li > a:focus,
#main-navigation > ul > li:focus > a,
#main-navigation > ul > li.active > a
{       
        border-bottom: 1px solid #fff500;
        transition: all 360ms ease-in 0s;
}

#main-navigation > ul li.hasSubMenu > a::before {
        content: '+';
        color: #fff500;
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -10px;
}

/* Depth 2, ++ */
#main-navigation > ul > li ul {
        position: absolute;
        background: rgba(0, 137, 22, 0.9)
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        left: -300%;
        top: 30px;
        width:100px;
        font-size: 14px;
        opacity: 0;
        transition: opacity 360ms ease-in 0s;
}

#main-navigation > ul > li ul > li > a {
        display:block;
        padding: 20px 5px;
        font-weight: 400;
        text-transform: lowercase;
        color:#FFF;
        text-decoration:none;
        border-bottom: 1px solid #fff500;
        z-index: 2;
}

#main-navigation > ul > li ul > li:first-of-type > a {
        border-top: none;
}

#main-navigation > ul li:hover > ul {
        left:0%;
        opacity: 1;
}

#main-navigation > ul > li ul > li > a:hover,
#main-navigation > ul > li ul > li:hover > a,
#main-navigation > ul > li ul > li > a:focus,
#main-navigation > ul > li ul > li:focus > a,
#main-navigation > ul > li ul > li.active > a,
{
        background:rgba(108, 189, 255, 1);
}

/* Logo navigatie*/

#nav-logo {
        display:block; 
        padding: 50px 50px;
        position:absolute;
}